.linkPage {
  display: grid;
  position: relative;
  padding-right: 40px;
  font-family: 'Poppins';
  color: #fff;

  /* Ширина стрелки */
}

.linkPage::after {
  content: '';
  position: absolute;
  right: 0;
  top: calc(50% - 6px);
  /* Высота стрелки */
  width: 48px;
  /* Ширина стрелки */
  height: 5px;
  /* Высота стрелки */
  background: #abbdc9;
  transform: rotate(-90deg);
  transition: all .3s ease-in-out;
}

.linkPage:hover::after {
  background: #fff;
}

.element_three {
  display: grid;
  width: 7%;
  padding: 0px 20px 0px 0px;
}

.block {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 100px 50px 0px 20px;
}

.linkPage:hover {
  color: #FBD784;
}

.social_iconse {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  vertical-align: auto;
  writing-mode: vertical-rl;
  /* Размещение текста сверху вниз */
  transform: rotate(90 deg);
  /* Поворот текста для отображения сверху вниз */
  color: #fff;
  width: 20px;
  height: 150px;
}

.social_iconse2 {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  /*vertical-align: auto;*/
  writing-mode: vertical-rl;
  /* Размещение текста сверху вниз */
  /*transform: rotate(90 deg);*/
  /* Поворот текста для отображения сверху вниз */
  width: 10px;
  height: 150px;
            }

.social_iconse2 .hero_2 {
  color: #000;
  font-weight: 1000;
  font-family: 'Poppins';
  font-size: large;
}

.Instagram2, 
.twitter2 {
  width: 16px;
}
